<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Blog App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/app.css">

</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="qq icon"></i>Himanshu Patel's Blog</div>
		</div>
		<a href="/" class="item">Home</a>
		<a href="/blogs/new" class="item">New Post</a>
	</div>